.navItem {
    display: inline-block;
    padding: 20px 0;
    margin: 15px;
}

.navItem:hover {
    color: 	#006372;
}

.navItem a {
    text-decoration: none;
}

.navItem a:hover {
    text-decoration: none;
    padding: 20px 0;
    margin: 15px;
}

.nav-icon {
    font-family: 'Poiret One', cursive;
    font-size: 28px;
    color:#006372;
}
.nav-icon:hover {
    color: #00d871; 
}
