.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* FONTS AND COLORS
font-family: 'Lato', sans-serif;
font-family: 'Poiret One', cursive;
#006372	(0,99,114)
#007e6e	(0,126,110)
#00a16c	(0,161,108)
#00bf6d	(0,191,109)
#00d871	(0,216,113) */

