.jumbotron {
    text-align: center;
    /* height: 150px; */
    clear: both;
    margin: auto;
}

.jumboImg {
    background-image: url("https://library.kissclipart.com/20181216/pqe/kissclipart-transparent-background-torn-paper-png-clipart-pape-034bb0b1001cf11f.png");
    z-index: 1;
}

.app-name {
    background: -webkit-linear-gradient(#006372, #007e6e,#00a16c,#00bf6d,#00d871);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    padding-top: 15px;
}


