form {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    padding: 10px;
    outline: none;
    width: 75%;
}

input {
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 1px solid #007e6e;
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
}
.item-input{
    width:18%;
    text-align: center;
    margin-top: 15px;
}

.form-control {
    margin: 10px;
    padding: 10px;
}

button {
    border-radius: 3px;
    border: solid #666 1px;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    background-color: #00a16c;
    color: #fff;
    padding: 10px;
    margin: 5px;
}

button:hover {
    background-color: #007e6e;
    border-radius: 3px;
    border: solid #666 1px;
}

/* SIGN UP CSS */

.sign-up-container {
    display: flex; 
    align-items: center;
    justify-content: center;
}
.sign-up-header {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    width: 100%;
}

.signup-Button {
    border-radius: 3px;
    border: solid #666 1px;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    /* float: right; */
    background-color: #00a16c;
    color: #fff;
    padding: 10px;
    margin: 5px;}

.signup-Button:hover {
    background-color: #007e6e;
    border-radius: 3px;
    border: solid #666 1px;
}
/* SEARCH PAGE CSS */

.text-title {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    padding: 5px;
}

.city-section {
    display: inline-block;
    width: 80%;
    margin: 15px;
    padding:15px;
}

.date-section {
    display: inline-block;
    width: 80%;
    margin: 15px;
    padding:15px;
}

/* PROFILE PAGE CSS */

.profile-container {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.profile-head {
    font-family: 'Poiret One', cursive;
    font-size: 28px;
    padding: 20px;
    margin: 10px;
}
.profile-titles {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}

.wish-list-head {
    font-family: 'Poiret One', cursive;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}
