.image-slide {
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: inline-block;
    flex-grow: inherit;
    justify-content: center;
    height: 300px;
    width: 710px;
}