.container {
    align-items: center;
    background-color: #006372;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px #007e6e;
}

.carousel {
    margin: 10px;
    justify-content: center;
    order: 2;
}

#caroHeader {
    order: 1;
    flex-grow: 1;
    font-family: 'Poiret One', cursive;
    font-size: 26px;
    color: #fff;
    padding: 10px;
    text-align: center;
}