.results-container {
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: solid 1px #007e6e;
    border-radius: 5px;
}

.text-details {
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    margin-top: 5px;
}

.search-form-group {
    border: solid 1px #007e6e;
    margin: 10px;
    border-radius: 7px;
}

input {
    border: solid 1px #00a16c;
    border-radius: 7px;

}