.packing-list-container {
    margin: 15px;
    padding:10px;
    border: solid 1px #00d871;
    width: 30%;
}
.item-label, .item-input {
    margin: 20px;
    padding: 10px;
}

.item-label {
    margin: 15px;
    padding: 15px;
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    text-align: center;
}
